$primary: #ffffff;
$secondary: #3E3E3E;
$info: #0862D1;
$success: #45A57A;
$dark: #0E0E0E;
$light: #FAFAFA;

@import "../lib/bootstrap/dist/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: $light;
}

.bg-hero {
    position: relative;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100vh;

    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    nav,
    .container,
    .container-fluid,
    .scrolling-text {
        position: relative;
        z-index: 2;
    }
}

.scrolling-text {
    white-space: nowrap;
    width: 100%;
    padding: 1rem 0;
    font-size: 136px;

    .scrolling-text-inner {
        animation: scroll-left 60s linear infinite;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.small {
    font-size: 0.8rem !important;
}

.btn-wide {
    @extend .rounded-pill, .small, .text-nowrap;
    padding: 2rem 5rem 2rem 5rem;
}

.app-product-card {
}

@media(max-width: 768px) {
    .scrolling-text {
        font-size: 62px;
    }

    .btn-wide {
        padding: 1rem 2rem 1rem 2rem;
    }
}
.product-image {
    overflow: hidden;
    height: 340px;
    margin-bottom: 16px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center center;
    transition: transform 0.4s ease-in-out;
}

.product-image:hover img {
    transform: scale(1.1);
}

.product-title {
    color: red;
    font-size: clamp(1.3rem, 1.2vw, 20px);
    margin-bottom: 12px;
}

.product-description {
    font-size: clamp(12px, 1vw, 1rem);
    color: #6c757d;
}
