<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Judge Pizza</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JudgePizzaApp.styles.css" asp-append-version="true" />
</head>

<div>
    @RenderBody()
</div>

<button id="goUpBtn" class="btn btn-dark position-fixed bottom-0 end-0 m-4 rounded-circle shadow z-3 d-none p-3">
    <i class="bi bi-arrow-up"></i>
</button>

<footer>
    <div class="container">
        <div class="row mb-3">
            <div class="col text-center text-xxl text-nowrap text-dark">
                Judge Pizza
            </div>
        </div>

        <div class="row text-center text-dark">
            <div class="col-md-4 mb-3 fs-5">
                <div class="mb-3">
                    Konum
                </div>
                Madenler, Boran Sk. 22A, 34776 Ümraniye/İstanbul
            </div>

            <div class="col-md-4 mb-3 fs-5">
                <div class="mb-3">İletişim</div>
                <div>(531) 497 16 34</div>
                <div class="small">
                    <div>
                        Her gün 11.00 – 02.00
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 fs-5">
                <div class="mb-3 text-center">
                    Bizi Takip Et
                </div>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="bg-dark d-flex align-items-center justify-content-center rounded-circle"
                        style="width: 45px; height: 45px;">
                        <i class="bi bi-instagram text-white fs-5"></i>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/goUpButton.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
